@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";
@import "utils/extensions";

@import "base/base";
@import "base/display";
@import "base/typography";

@import "layout/container";

@import "pages/home";

@import "https://fonts.googleapis.com/css?family=Kumbh+Sans:400,700";


* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', serif;
  font-style: normal;
  //border: 1px solid red;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 50px;
  @media (min-width: 992px) {
    position: absolute;
    bottom: 50px;
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: $dark-cyan;
  background-image: url("src/images/bg-pattern-top.svg"), url("src/images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;

  background-position: top -150px left -200px, bottom -150px right -200px;
  background-size: 80%, 80%;
  @media (min-width: 992px) {
    background-position: top -400px left -400px, bottom -400px right -400px;
    background-size: 65%, 65%;
  }
}

.card {
  @media (max-width: 992px) {
    margin-top: 75px;
  }
  background-color: white;
  height: 374px;
  width: 350px;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
  border-radius: 15px;
  overflow: hidden;

  &__banner {
    height: 140px;
    width: 350px;
    background-image: url("src/images/bg-pattern-card.svg");
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__img {
      border: 5px solid #FFFFFF;
      border-radius: 100px;
      width: 96px;
      height: 96px;
      top: -48px;
      position: absolute;
    }

    &__name {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      margin-top: 72px;

      & > span {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;

        color: #6B7082;
      }
    }

    &__town {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      margin-top: 8px;
      margin-bottom: 28px;
      color: $dark-gray;
    }
  }

  &__user-stats {
    border-top: 1px solid #E8E9EC;
    display: flex;
    padding: 24px 47px 24px 54px;

    & > div {
      flex: 1;
    }

    .value {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: $very-dark-desaturated-blue;
    }

    .key {
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      letter-spacing: 1.5px;
      color: $dark-gray;
    }
  }
}