$width-map: (
        sm:640px,
        md:768px,
        lg:1024px,
        xl:1280px,
        xxl:1536px
);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-gray: hsl(0, 0%, 59%);